@font-face {
    font-family: NeueMontrealBook;
    src: url("../fonts/PPNeueMontreal-Book.otf") format("opentype");
}

@font-face {
    font-family: NeueMontrealBold;
    font-weight: bold;
    src: url("../fonts/PPNeueMontreal-Bold.otf") format("opentype");
}

@font-face {
font-family: NeueMontrealItalic;
font-weight: italic;
src: url("../fonts/PPNeueMontreal-Italic.otf") format("opentype");
}

@font-face {
font-family: NeueMontrealMedium;
font-weight: medium;
src: url("../fonts/PPNeueMontreal-Medium.otf") format("opentype");
}

@font-face {
font-family: NeueMontrealSemiBoldItalic;
font-weight: semiBoldItalic;
src: url("../fonts/PPNeueMontreal-SemiBolditalic.otf") format("opentype");
}

@font-face {
font-family: NeueMontrealThin;
font-weight: thin;
src: url("../fonts/PPNeueMontreal-Thin.otf") format("opentype");
} 

html {
    background-color: #f7f3f5;
    font-family: NeueMontrealBook;
    height: 100%;
    display:flex; 
    flex-direction:column; 
    flex:1;
}

a:link {
    color: #12130f
}

a:visited {
    color: #e00400
}

h2 {
    font-size: 4.5vh;
}


h1 {
    font-family: NeueMontrealItalic;
    font-weight: Italic;
    font-size: 8vh;
    display: inline-block;
    word-break: break-word;
    @media only screen and (max-width: 600px) {
        div.example {
          font-size: 30px;
        }
    }
}

nav {
    font-weight: Medium;
    font-size: 3vh;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
}


.image-container {
    display: inline-block;
    margin-right: 10px; /* Ajusta el espacio entre las imágenes */
}


footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
    justify-content: last baseline;
    width: 200px;
    height: 150px;
  }

#nav {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 4vh;
}

nav {
    flex-direction: row;
    align-items: flex-end;
    font-size: 4vh;
}

.redes {
    width: 3vh;
    font-size: 1.2vh;
}

.hide {
    display: none;
  }